<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunmo.template.infrastruction.repository.mybatis.UserAccountQueryMapper">
    <select id="selectByUserAccountId" resultType="com.yunmo.template.domain.UserAccount">
        select * from user_account ua where  ua.id=#{id}
    </select>
</mapper>